#left{
    background-color: aqua;
    width: 400px;
    height: 400px;
    position: absolute;
    float:left;
    
    
}

#right{
    background-color:green;
    width: 400px;
    height: 400px;
    float:right;
    margin-right: 1750px;
}